@{ 
    string[] giris = new string[2];

    giris = (string[])Session["user"];
  


}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <title>Blog Template · Bootstrap v5.1</title>
    <link href="~/Css/blog.css" rel="stylesheet" />
    <link href="~/Css/css.css" rel="stylesheet" />
    <link href="~/Css/bootstrap.min.css" />
    @*<script src="jquery-3.5.1.min.js"></script>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>




    <!-- Bootstrap core CSS -->
    <!-- Favicons -->
    <style>



.heading {
    height: 100vh
}

.social-icons {
    display: flex;
    list-style: none
}

        .social-icons li a {
            /* padding: 20px; */
            /* color: #fff;*/
            /* font-size: 25px; */
            cursor: pointer;
            /*  color: blue;*/
            margin-right: 16px;
            position: relative;
            text-align: center;
            color: #3498db;
            text-transform: capitalize;
            /* line-height: 70px; */
            /* width: 100px; */
            /* height: 100px; */
        }

.social-icons li a::before,
.social-icons li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    transition: .5s linear
}

.social-icons li a:hover i {
    transform: scale(1.1)
}

.social-icons li a:hover::before {
    transform: skewX(20deg);
    border-left: 3px solid;
    border-right: 3px solid
}

.social-icons li a:hover::after {
    transform: skewY(-25deg);
    border-top: 3px solid;
    border-bottom: 3px solid
}

@@media (max-width:700px) {
    ul.social-icons {
        display: block
    }
}

        /*iç boşluğu nav-itemden çıkarın ve havada asılı durması için biraz boşluk bırakın */

        .nav-link {
            border-right: dotted;
            border-left: dotted;
        }
            .nav-link:hover {
                border-right-color: transparent;
                border-left-color: transparent;
            }
        .navbar .nav-item {
            padding: .5rem .5rem;
            margin: 0 .25rem;
        }

        .navbar .dropdown-menu {
            /*  nav-item yüksekliği  */
            top: 45px;
        }

        /* fareyle üzerine gelindiğinde açılır menüyü gösterir */
        .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    </style>



</head>
@*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #191919; border-radius: 49px; padding-bottom: 0; margin-bottom: 7px; ">
        <a class="navbar-brand w-25" href="https://localhost:44361/Page/Login">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" style=" background-color: #191919; font-family: cursive; color: antiquewhite; border: 1px solid cornsilk;" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">

            MENÜ

        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="social-icons">
                <li class="nav-item ">
                    <a style="display:none;" class="nav-link" href="/Page/Makale">Ana Sayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="/Page/Makale">Kurallar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Page/Kadro">Kadro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Page/Detay">Makale Ara</a>
                </li>  @if (giris != null)
                     { 
                    if (giris[1] == "3") {
                    <li class="nav-item">
                        <a class="nav-link" href="/Page/davetler">davet</a>
                    </li> }
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/Page/makaleler">makale</a>
                    </li>}

                    <li class="nav-item">
                        @if (giris != null)
                        {



                            <a class="nav-link" href="/Page/Loguot">Çıkış Yap</a>

                        }
                        else
                        {<a class="nav-link" href="/Page/Login">Giriş Yap</a>}

                    </li>
                </ul>
            @*<form class="form-inline" style="place-content: center; ">
                <input class="form-control mr-sm-2" type="search" placeholder="Ara..." aria-label="Ara">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Ara</button>
            </form>*@
        </div>
    </nav>
    <br />
    <br />
 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                </ul>
            
            <p>&copy; @DateTime.Now.Year - Askin Project</p>

        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
<script type="text/javascript">
    var loc = window.location.pathname;

    $('#nav').find('a').each(function () {
        $(this).toggleClass('active', $(this).attr('href') == loc);
    });
</script>
</body>


</html>
